DerivedDataCache
WindowsNoEditor
Intermediate
Saved
Intermediate/CachedAssetRegistry.bin
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Logs/FA2020_Door.log
Intermediate/CachedAssetRegistry.bin
